body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    text-align: center;
}

.header {
    width: 100%;
    height: 100vh;
}

main button {
    background-color: rgb(226, 223, 222); /* Set the background color to red */
    color: rgb(0, 0, 0); /* Set the text color to white for better contrast */
    border: none; /* Remove the default button border */
    padding: 10px 20px; /* Add some padding for better appearance */
    margin: 10px; /* Add spacing between buttons */
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
    border-radius: 15px;
    
}

/* Add a hover effect to change the background color on hover */
main button:hover {
    background-color: #82d2d8; /* Change background color on hover */
}
/* ... (Your existing CSS) ... */

.hidden {
    display: none; /* Hide the element with the "hidden" class */
}


main button:active {
    background-color: rgb(83, 129, 230); /* Change background color to red for selected buttons */
}
#media-type {
    background-color: rgb(248, 247, 246);
    color: rgb(2, 0, 0); /* Set the text color to white for better contrast */
    border: none; /* Remove the default select box border */
    padding: 10px; /* Add some padding for better appearance */
    font-size: medium;
    


}
