body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* text-align: center; */
    overflow: hidden;
}

#rooms {
    list-style: none;
    padding: 0px;
    position: relative;
}

ul {
    list-style: none; /* Remove default list styling */
    padding: 30; /* Remove default padding */
}

#rooms li {
    /* top : 10px; */
    padding: 10px;
    width : 250px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* color : (255,255,255); */
}

li{
    padding: 10px;
}

#rooms li:hover{
    color: rgb(255,255,255);
    background-color: #62e9e2 ; 
    transition: 0.3s;
}

#textInput{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 900px;
    height: 500px;
    resize: vertical;
    background-color: rgba(0, 0, 0, 0.5);
    color : white;
}

/* #video{
    align-items: center;
} */
/* 
#interfaces ul {
    list-style: none;
    padding: 10;
} */
/* #rooms li:active{
    background-color: #62e9e2 ;
    color: rgb(255, 255, 255);
} */

button {
    /* 62e9e2" */
     /* Coral color */
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options-bar {
    display: none;
    background-color: #62e9e2;
    padding: 10px;
    text-align: center;
}

.options-bar button {
    margin: 0 10px;
    background-color: #03434e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    position: relative;
    display: flex;
    height: 100vh;
}

#textInputwrapper{
    display: flex;
    flex-direction: column; /* Stack items as a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    /* height: 100vh;        */
}

.side-nav {
    /* width: 250px; */
    background-color: rgba(0, 0, 0, 0.5);
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    border : 2px solid #ffffff;
}

.course-info {
    width: 1700px; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
