<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adminstyle.css') }}">
        <script src="{{ url_for('static', filename='adminscript.js') }}"></script>
        <script src="{{ url_for('static', filename='audioRecord.js') }}"></script>

        <!-- <script src="https://kit.fontawesome.com/c94fce1bd4.js" crossorigin="anonymous"></script> -->
        <title>Classroom choose</title>
    </head>
    <body>
        <div class="container">

            <div class="side-nav">
                <h1 style="color: #62e9e2;">Classroom</h1>
                <ul id="rooms">
                    <!-- <li>text</li> -->
                    <!-- ids added here -->
                </ul>
            </div>

            <div class="course-info">
                <p id="course-name" style = "text-align: center;">Select a room to view information</p>
                <div id="options-bar" class="options-bar"></div>
                <ul id="interfaces">

                </ul>
            </div>

        </div>
    
    </body>
</html>