<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='studentstyle.css') }}">
    <script src="https://kit.fontawesome.com/c94fce1bd4.js" crossorigin="anonymous"></script>
    <title>Student</title>
   
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <h1 style="color: #62e9e2 ">COURSE</h1>
            <ul class="nav-links">
                <li><a href="#" onclick="loadData('RANAC')">RANAC</a></li>
                <li><a href="#" onclick="loadData('OPP')">OPP</a></li>
                <li><a href="#" onclick="loadData('CNA')">CNA</a></li>
                <li><a href="#" onclick="loadData('CS')">CS</a></li>
                <li><a href="#" onclick="loadData('ES')">ES</a></li>
            </ul>
        </div>
        <div class="course-info">
            <h2>Course Information</h2>
            <p id="course-name">Select a course to view information</p>
            <div id="data-container"></div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='studentscript.js') }}"></script>
</body>
</html>

